#Dependencias
node_modules/
package-lock.json

#Archivos de entorno
.env.local
.env.*.local

#Archivos de logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Directorios de construcción
dist/
build/
tmp/
temp/

#Archivos del sistema
.DS_Store
Thumbs.db

#Directorios de IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

#Archivos debug
.debug
debug.log

#Archivos de cobertura de pruebas
coverage/

#archivos de uploads
uploads/*
!uploads/.gitkeep

#otros
*.pid
*.seed
*.pid.lock